In [170]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib.pyplot import xticks
from sklearn.model_selection import train_test_split
from datetime import date

In [4]:
excel_Path = os.path.join("/Users/macbookpro/Desktop/For Graduation/FinalData","Complete.xlsx")
MyData = pd.read_excel(excel_Path)
MyData

,make,model,type,passenger,year,price,color,fuel,history,gear,...,url,alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,air_bag,Days_Live
0,Volkswagen,Passat,sedan,5,1999,28500,dark blue,petrol,private,automatic,...,https://shobiddak.com/cars/432099,1,1,0,1,0,1,0,0,6472
1,Volkswagen,Passat,sedan,5,2001,43000,gray,petrol,private,automatic,...,https://shobiddak.com/cars/432100,1,1,1,0,0,1,0,1,5741
2,hyundai,Accent,sedan,5,2014,68000,white,petrol,private,automatic,...,https://shobiddak.com/cars/432104,1,1,1,0,1,1,1,1,993
3,kia,Pride(rio),__sedan/hatch__,5,2008,49000,silver,diesel,private,manual,...,https://shobiddak.com/cars/432105,1,1,1,0,0,1,1,1,3185
4,BMW,3 Series,sedan,5,1986,30000,blue,petrol,private,manual,...,https://shobiddak.com/cars/432107,1,0,1,1,1,1,1,0,11219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200473,Mercedes,Vario,truck,7,1996,70000,white,diesel,Commercial,manual,...,https://shobiddak.com/cars/517019,0,1,1,0,1,1,0,0,7985
200474,Mercedes,C-Class,sedan,5,2002,50000,brown,diesel,taxi,automatic,...,https://shobiddak.com/cars/679985,0,1,1,0,1,1,1,1,7184
200475,Mercedes,Sprinter,van,7,1989,25000,white,diesel,private,manual,...,https://shobiddak.com/cars/570091,0,0,0,0,0,0,0,0,10860
200476,Mercedes,Atego,truck,3,1996,85000,white,diesel,Commercial,manual,...,https://shobiddak.com/cars/463031,1,1,1,1,0,1,0,0,7853
200477,Mercedes,Sprinter,van,7,2008,80000,white,diesel,Commercial,manual,...,https://shobiddak.com/cars/481989,1,1,1,0,0,1,0,1,3420

In [5]:
MyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200478 entries, 0 to 200477
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   make              200478 non-null  object
 1   model             200478 non-null  object
 2   type              200478 non-null  object
 3   passenger         200478 non-null  int64
 4   year              200478 non-null  int64
 5   price             200478 non-null  int64
 6   color             200478 non-null  object
 7   fuel              200478 non-null  object
 8   history           200478 non-null  object
 9   gear              200478 non-null  object
 10  engine_size       200478 non-null  object
 11  Kilometers        117431 non-null  float64
 12  owners            149429 non-null  float64
 13  ad_date           200478 non-null  object
 14  payment_method    200478 non-null  object
 15  windows           200478 non-null  object
 16  url               200478 non-null  object
 17  alarm             200478 non-null  int64
 18  ac                200478 non-null  int64
 19  radio_cd          200478 non-null  int64
 20  sunroof           200478 non-null  int64
 21  leatherـchair     200478 non-null  int64
 22  centralـLock      200478 non-null  int64
 23  magnesium_wheels  200478 non-null  int64
 24  air_bag           200478 non-null  int64
 25  Days_Live         200478 non-null  int64
dtypes: float64(2), int64(12), object(12)
memory usage: 39.8+ MB

In [6]:
MyData.pop("ad_date")
MyData.pop("url")

0         https://shobiddak.com/cars/432099
1         https://shobiddak.com/cars/432100
2         https://shobiddak.com/cars/432104
3         https://shobiddak.com/cars/432105
4         https://shobiddak.com/cars/432107
                        ...
200473    https://shobiddak.com/cars/517019
200474    https://shobiddak.com/cars/679985
200475    https://shobiddak.com/cars/570091
200476    https://shobiddak.com/cars/463031
200477    https://shobiddak.com/cars/481989
Name: url, Length: 200478, dtype: object

In [7]:
print("Number of Uniqe Data in Make Column Before Edit: ",len(MyData.make.unique()))
MyData.make = MyData.make.str.lower()
MyData.make = MyData.make.str.strip()
MyData.make.unique()
print("Number of Uniqe Data in Make Column After Edit: ",len(MyData.make.unique()))

Number of Uniqe Data in Make Column Before Edit:  84
Number of Uniqe Data in Make Column After Edit:  65

In [9]:
print("Number of Uniqe Data in Model Column Before Edit: ",len(MyData.model.unique()))
MyData.model = MyData.model.str.lower()
MyData.model = MyData.model.str.strip()
MyData.model.unique()
print("Number of Uniqe Data in Model Column After Edit: ",len(MyData.model.unique()))

Number of Uniqe Data in Model Column Before Edit:  620
Number of Uniqe Data in Model Column After Edit:  564

In [13]:
MyData = MyData.dropna(axis=0, subset=['model'])

In [14]:
MyData1 = None

In [15]:
MyData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200441 entries, 0 to 200477
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   make              200441 non-null  object
 1   model             200441 non-null  object
 2   type              200441 non-null  object
 3   passenger         200441 non-null  int64
 4   year              200441 non-null  int64
 5   price             200441 non-null  int64
 6   color             200441 non-null  object
 7   fuel              200441 non-null  object
 8   history           200441 non-null  object
 9   gear              200441 non-null  object
 10  engine_size       200441 non-null  object
 11  Kilometers        117406 non-null  float64
 12  owners            149396 non-null  float64
 13  payment_method    200441 non-null  object
 14  windows           200441 non-null  object
 15  alarm             200441 non-null  int64
 16  ac                200441 non-null  int64
 17  radio_cd          200441 non-null  int64
 18  sunroof           200441 non-null  int64
 19  leatherـchair     200441 non-null  int64
 20  centralـLock      200441 non-null  int64
 21  magnesium_wheels  200441 non-null  int64
 22  air_bag           200441 non-null  int64
 23  Days_Live         200441 non-null  int64
dtypes: float64(2), int64(12), object(10)
memory usage: 38.2+ MB

In [18]:
MyData.isna()

,make,model,type,passenger,year,price,color,fuel,history,gear,...,windows,alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,air_bag,Days_Live
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200473,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200474,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200477,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
print("Number of Uniqe Data in Type Column Before Edit: ",len(MyData.type.unique()))
MyData.type = MyData.type.str.lower()
MyData.type = MyData.type.str.strip()
MyData.type.unique()
print("Number of Uniqe Data in Type Column After Edit: ",len(MyData.type.unique()))

Number of Uniqe Data in Type Column Before Edit:  19
Number of Uniqe Data in Type Column After Edit:  13

/Users/macbookpro/Documents/naser_python/lib/python3.8/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [17]:
print("Number of Uniqe Data in Color Column Before Edit: ",len(MyData.color.unique()))
MyData.color = MyData.color.str.lower()
MyData.color = MyData.color.str.strip()
MyData.color.unique()
print("Number of Uniqe Data in Color Column After Edit: ",len(MyData.color.unique()))

Number of Uniqe Data in Color Column Before Edit:  18
Number of Uniqe Data in Color Column After Edit:  15

In [18]:
print("Number of Uniqe Data in History Column Before Edit: ",len(MyData.history.unique()))
MyData.history = MyData.history.str.lower()
MyData.history = MyData.history.str.strip()
MyData.history.unique()
print("Number of Uniqe Data in History Column After Edit: ",len(MyData.history.unique()))

Number of Uniqe Data in History Column Before Edit:  7
Number of Uniqe Data in History Column After Edit:  6

In [19]:
print("Number of Uniqe Data in Gear-Type Column Before Edit: ",len(MyData.gear.unique()))
MyData.gear = MyData.gear.str.lower()
MyData.gear = MyData.gear.str.strip()
MyData.gear.unique()
print("Number of Uniqe Data in Gear-Type Column After Edit: ",len(MyData.gear.unique()))

Number of Uniqe Data in Gear-Type Column Before Edit:  3
Number of Uniqe Data in Gear-Type Column After Edit:  2

In [20]:
print("Number of Uniqe Data in Payment-Method Column Before Edit: ",len(MyData.payment_method.unique()))
MyData.payment_method = MyData.payment_method.str.lower()
MyData.payment_method = MyData.payment_method.str.strip()
MyData.payment_method.unique()
print("Number of Uniqe Data in Payment-Method Column Before Edit: ",len(MyData.payment_method.unique()))

Number of Uniqe Data in Payment-Method Column Before Edit:  3
Number of Uniqe Data in Payment-Method Column Before Edit:  2

In [21]:
print("Number of Uniqe Data in fuel-Type Column Before Edit: ",len(MyData.fuel.unique()))
MyData.fuel = MyData.fuel.str.lower()
MyData.fuel = MyData.fuel.str.strip()
MyData.fuel.unique()
print("Number of Uniqe Data in fuel-Type Column After Edit: ",len(MyData.fuel.unique()))

Number of Uniqe Data in fuel-Type Column Before Edit:  3
Number of Uniqe Data in fuel-Type Column After Edit:  3

In [22]:
print("Number of Uniqe Data in windows Column Before Edit: ",len(MyData.windows.unique()))
MyData.windows = MyData.windows.str.lower()
MyData.windows = MyData.windows.str.strip()
MyData.windows.unique()
print("Number of Uniqe Data in windows Column After Edit: ",len(MyData.windows.unique()))

Number of Uniqe Data in windows Column Before Edit:  2
Number of Uniqe Data in windows Column After Edit:  2

In [25]:
Cat_vars = ['make','model','type','color','fuel','history','gear','payment_method','windows']

In [26]:
# we make a new DF that contains just categorial Data 
MyDataCat = MyData[Cat_vars]
MyDataCat

,make,model,type,color,fuel,history,gear,payment_method,windows
0,volkswagen,passat,sedan,dark blue,petrol,private,automatic,cash,electric
1,volkswagen,passat,sedan,gray,petrol,private,automatic,cash,electric
2,hyundai,accent,sedan,white,petrol,private,automatic,cash,windm
3,kia,pride(rio),__sedan/hatch__,silver,diesel,private,manual,cash,electric
4,bmw,3 series,sedan,blue,petrol,private,manual,cash,electric
...,...,...,...,...,...,...,...,...,...
200473,mercedes,vario,truck,white,diesel,commercial,manual,cash,windm
200474,mercedes,c-class,sedan,brown,diesel,taxi,automatic,installment,electric
200475,mercedes,sprinter,van,white,diesel,private,manual,cash,windm
200476,mercedes,atego,truck,white,diesel,commercial,manual,cash,windm
200477,mercedes,sprinter,van,white,diesel,commercial,manual,installment,electric

In [27]:
MyDataCat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200441 entries, 0 to 200477
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   make            200441 non-null  object
 1   model           200441 non-null  object
 2   type            200441 non-null  object
 3   color           200441 non-null  object
 4   fuel            200441 non-null  object
 5   history         200441 non-null  object
 6   gear            200441 non-null  object
 7   payment_method  200441 non-null  object
 8   windows         200441 non-null  object
dtypes: object(9)
memory usage: 15.3+ MB

In [28]:
# in this steps we encode categorial Data 
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

afterEnc = enc.fit(MyDataCat)
afterEnc

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [29]:
MyData.drop(Cat_vars,inplace=True,axis=1)

/Users/macbookpro/Documents/naser_python/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [30]:
MyData
# My Data now contain all numaric value

,passenger,year,price,engine_size,Kilometers,owners,alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,air_bag,Days_Live
0,5,1999,28500,1600,NaN,NaN,1,1,0,1,0,1,0,0,6472
1,5,2001,43000,1600,100000.0,2.0,1,1,1,0,0,1,0,1,5741
2,5,2014,68000,1500,45000.0,0.0,1,1,1,0,1,1,1,1,993
3,5,2008,49000,1500,NaN,NaN,1,1,1,0,0,1,1,1,3185
4,5,1986,30000,1600,NaN,10.0,1,0,1,1,1,1,1,0,11219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200473,7,1996,70000,110,NaN,4.0,0,1,1,0,1,1,0,0,7985
200474,5,2002,50000,2200,NaN,NaN,0,1,1,0,1,1,1,1,7184
200475,7,1989,25000,3000,NaN,1.0,0,0,0,0,0,0,0,0,10860
200476,3,1996,85000,170,NaN,4.0,1,1,1,1,0,1,0,0,7853
200477,7,2008,80000,2150,300000.0,NaN,1,1,1,0,0,1,0,1,3420

In [31]:
Tra = afterEnc.transform(MyDataCat)
Tra = Tra.toarray()
Tra

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [32]:
ohe_df = pd.DataFrame(Tra, columns=afterEnc.get_feature_names())

In [33]:
MyData.reset_index(drop=True, inplace=True)
ohe_df.reset_index(drop=True, inplace=True)

In [34]:
#concat with original data
data = pd.concat([MyData, ohe_df], axis=1)
data

,passenger,year,price,engine_size,Kilometers,owners,alarm,ac,radio_cd,sunroof,...,x5_private,x5_rental,x5_school,x5_taxi,x6_automatic,x6_manual,x7_cash,x7_installment,x8_electric,x8_windm
0,5,1999,28500,1600,NaN,NaN,1,1,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,5,2001,43000,1600,100000.0,2.0,1,1,1,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,5,2014,68000,1500,45000.0,0.0,1,1,1,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,5,2008,49000,1500,NaN,NaN,1,1,1,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,5,1986,30000,1600,NaN,10.0,1,0,1,1,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200436,7,1996,70000,110,NaN,4.0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200437,5,2002,50000,2200,NaN,NaN,0,1,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
200438,7,1989,25000,3000,NaN,1.0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200439,3,1996,85000,170,NaN,4.0,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200440,7,2008,80000,2150,300000.0,NaN,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [35]:
Target = data.pop('price')
data

,passenger,year,engine_size,Kilometers,owners,alarm,ac,radio_cd,sunroof,leatherـchair,...,x5_private,x5_rental,x5_school,x5_taxi,x6_automatic,x6_manual,x7_cash,x7_installment,x8_electric,x8_windm
0,5,1999,1600,NaN,NaN,1,1,0,1,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,5,2001,1600,100000.0,2.0,1,1,1,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,5,2014,1500,45000.0,0.0,1,1,1,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,5,2008,1500,NaN,NaN,1,1,1,0,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,5,1986,1600,NaN,10.0,1,0,1,1,1,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200436,7,1996,110,NaN,4.0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200437,5,2002,2200,NaN,NaN,0,1,1,0,1,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
200438,7,1989,3000,NaN,1.0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200439,3,1996,170,NaN,4.0,1,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
200440,7,2008,2150,300000.0,NaN,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [36]:
%%time
from missingpy import MissForest 
# Make an instance and perform the imputation
imputer = MissForest()
X_imputed = imputer.fit_transform(data)

/Users/macbookpro/Documents/naser_python/lib/python3.8/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
CPU times: user 4h 51min 53s, sys: 1min 36s, total: 4h 53min 29s
Wall time: 27min 45s

In [38]:
# Add imputed values as columns to the untouched dataset
data['MF_kilometers'] = X_imputed[:, 3]
data['MF_owners'] = X_imputed[:, 4]

In [39]:
# Now we Can Delete (Kilometers,owners) Columns , Since theres 2 alternative Column
data.drop("Kilometers",axis=1,inplace=True)
data.drop("owners",axis=1,inplace=True)

In [40]:
data["engine_size"] = data["engine_size"].astype("int64")
data["MF_kilometers"] = data["MF_kilometers"].astype("int64")
data["MF_owners"] = data["MF_owners"].astype("int64")
data["passenger"] = data["passenger"].astype("int64")

In [113]:
data

,passenger,year,engine_size,alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,...,x5_school,x5_taxi,x6_automatic,x6_manual,x7_cash,x7_installment,x8_electric,x8_windm,MF_kilometers,MF_owners
0,5,1999,1600,1,1,0,1,0,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,115310,2
1,5,2001,1600,1,1,1,0,0,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,100000,2
2,5,2014,1500,1,1,1,0,1,1,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,45000,0
3,5,2008,1500,1,1,1,0,0,1,1,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,141763,2
4,5,1986,1600,1,0,1,1,1,1,1,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,133088,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200436,7,1996,110,0,1,1,0,1,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,252475,4
200437,5,2002,2200,0,1,1,0,1,1,1,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,189405,3
200438,7,1989,3000,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,113948,1
200439,3,1996,170,1,1,1,1,0,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,474638,4
200440,7,2008,2150,1,1,1,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,300000,1

In [43]:
X_train, X_test, y_train, y_test = train_test_split(data, Target,train_size = 0.8, 
                                                    test_size = 0.2, random_state = 42)

In [97]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse', max_depth=60, max_features='auto', max_leaf_nodes=None,
                                  max_samples=None, min_impurity_decrease=0.0, min_impurity_split=None, min_samples_leaf=1,
                                  min_samples_split=2, min_weight_fraction_leaf=0.0, n_estimators=600, oob_score=False,
                                  random_state=42, verbose=2, warm_start=False,n_jobs=-1)
regressor.fit(X_train,y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.

building tree 1 of 600building tree 2 of 600
building tree 3 of 600
building tree 4 of 600

building tree 5 of 600building tree 6 of 600
building tree 7 of 600building tree 8 of 600

building tree 9 of 600
building tree 10 of 600
building tree 11 of 600
building tree 12 of 600

building tree 13 of 600
building tree 14 of 600
building tree 15 of 600
building tree 16 of 600
building tree 17 of 600
building tree 18 of 600
building tree 19 of 600
building tree 20 of 600
building tree 21 of 600
building tree 22 of 600
building tree 23 of 600
building tree 24 of 600
building tree 25 of 600
building tree 26 of 600
building tree 27 of 600
building tree 28 of 600
building tree 29 of 600
building tree 30 of 600

[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   53.6s

building tree 31 of 600
building tree 32 of 600
building tree 33 of 600
building tree 34 of 600
building tree 35 of 600
building tree 36 of 600
building tree 37 of 600
building tree 38 of 600
building tree 39 of 600
building tree 40 of 600
building tree 41 of 600
building tree 42 of 600
building tree 43 of 600
building tree 44 of 600
building tree 45 of 600
building tree 46 of 600
building tree 47 of 600
building tree 48 of 600
building tree 49 of 600
building tree 50 of 600
building tree 51 of 600
building tree 52 of 600
building tree 53 of 600
building tree 54 of 600
building tree 55 of 600
building tree 56 of 600
building tree 57 of 600
building tree 58 of 600
building tree 59 of 600
building tree 60 of 600
building tree 61 of 600
building tree 62 of 600
building tree 63 of 600
building tree 64 of 600
building tree 65 of 600
building tree 66 of 600
building tree 67 of 600
building tree 68 of 600
building tree 69 of 600building tree 70 of 600

building tree 71 of 600
building tree 72 of 600
building tree 73 of 600
building tree 74 of 600
building tree 75 of 600
building tree 76 of 600
building tree 77 of 600
building tree 78 of 600
building tree 79 of 600
building tree 80 of 600
building tree 81 of 600
building tree 82 of 600
building tree 83 of 600
building tree 84 of 600
building tree 85 of 600
building tree 86 of 600
building tree 87 of 600
building tree 88 of 600
building tree 89 of 600
building tree 90 of 600
building tree 91 of 600
building tree 92 of 600building tree 93 of 600

building tree 94 of 600
building tree 95 of 600
building tree 96 of 600
building tree 97 of 600
building tree 98 of 600
building tree 99 of 600
building tree 100 of 600
building tree 101 of 600
building tree 102 of 600
building tree 103 of 600
building tree 104 of 600
building tree 105 of 600
building tree 106 of 600
building tree 107 of 600
building tree 108 of 600
building tree 109 of 600
building tree 110 of 600
building tree 111 of 600
building tree 112 of 600
building tree 113 of 600
building tree 114 of 600
building tree 115 of 600
building tree 116 of 600
building tree 117 of 600
building tree 118 of 600
building tree 119 of 600
building tree 120 of 600
building tree 121 of 600
building tree 122 of 600
building tree 123 of 600
building tree 124 of 600
building tree 125 of 600
building tree 126 of 600
building tree 127 of 600
building tree 128 of 600
building tree 129 of 600
building tree 130 of 600
building tree 131 of 600
building tree 132 of 600
building tree 133 of 600
building tree 134 of 600
building tree 135 of 600
building tree 136 of 600
building tree 137 of 600
building tree 138 of 600
building tree 139 of 600
building tree 140 of 600
building tree 141 of 600
building tree 142 of 600
building tree 143 of 600
building tree 144 of 600
building tree 145 of 600
building tree 146 of 600
building tree 147 of 600
building tree 148 of 600
building tree 149 of 600

[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:  5.6min

building tree 150 of 600
building tree 151 of 600
building tree 152 of 600
building tree 153 of 600
building tree 154 of 600
building tree 155 of 600
building tree 156 of 600
building tree 157 of 600
building tree 158 of 600
building tree 159 of 600
building tree 160 of 600
building tree 161 of 600
building tree 162 of 600
building tree 163 of 600
building tree 164 of 600
building tree 165 of 600
building tree 166 of 600
building tree 167 of 600
building tree 168 of 600
building tree 169 of 600
building tree 170 of 600
building tree 171 of 600
building tree 172 of 600
building tree 173 of 600
building tree 174 of 600
building tree 175 of 600
building tree 176 of 600
building tree 177 of 600
building tree 178 of 600
building tree 179 of 600
building tree 180 of 600
building tree 181 of 600
building tree 182 of 600
building tree 183 of 600
building tree 184 of 600
building tree 185 of 600
building tree 186 of 600
building tree 187 of 600
building tree 188 of 600
building tree 189 of 600
building tree 190 of 600
building tree 191 of 600
building tree 192 of 600
building tree 193 of 600
building tree 194 of 600
building tree 195 of 600
building tree 196 of 600
building tree 197 of 600
building tree 198 of 600
building tree 199 of 600
building tree 200 of 600
building tree 201 of 600
building tree 202 of 600
building tree 203 of 600
building tree 204 of 600
building tree 205 of 600
building tree 206 of 600
building tree 207 of 600
building tree 208 of 600
building tree 209 of 600
building tree 210 of 600
building tree 211 of 600
building tree 212 of 600
building tree 213 of 600
building tree 214 of 600
building tree 215 of 600
building tree 216 of 600
building tree 217 of 600
building tree 218 of 600
building tree 219 of 600
building tree 220 of 600
building tree 221 of 600
building tree 222 of 600
building tree 223 of 600
building tree 224 of 600
building tree 225 of 600
building tree 226 of 600
building tree 227 of 600
building tree 228 of 600
building tree 229 of 600
building tree 230 of 600
building tree 231 of 600
building tree 232 of 600
building tree 233 of 600
building tree 234 of 600
building tree 235 of 600
building tree 236 of 600
building tree 237 of 600
building tree 238 of 600
building tree 239 of 600
building tree 240 of 600
building tree 241 of 600
building tree 242 of 600
building tree 243 of 600
building tree 244 of 600
building tree 245 of 600
building tree 246 of 600
building tree 247 of 600
building tree 248 of 600
building tree 249 of 600
building tree 250 of 600
building tree 251 of 600
building tree 252 of 600
building tree 253 of 600
building tree 254 of 600
building tree 255 of 600
building tree 256 of 600
building tree 257 of 600
building tree 258 of 600
building tree 259 of 600
building tree 260 of 600
building tree 261 of 600
building tree 262 of 600
building tree 263 of 600
building tree 264 of 600
building tree 265 of 600
building tree 266 of 600
building tree 267 of 600
building tree 268 of 600
building tree 269 of 600
building tree 270 of 600
building tree 271 of 600
building tree 272 of 600
building tree 273 of 600building tree 274 of 600

building tree 275 of 600
building tree 276 of 600
building tree 277 of 600
building tree 278 of 600
building tree 279 of 600
building tree 280 of 600
building tree 281 of 600
building tree 282 of 600
building tree 283 of 600
building tree 284 of 600
building tree 285 of 600
building tree 286 of 600
building tree 287 of 600
building tree 288 of 600
building tree 289 of 600
building tree 290 of 600
building tree 291 of 600
building tree 292 of 600
building tree 293 of 600
building tree 294 of 600
building tree 295 of 600
building tree 296 of 600
building tree 297 of 600
building tree 298 of 600
building tree 299 of 600
building tree 300 of 600
building tree 301 of 600
building tree 302 of 600
building tree 303 of 600
building tree 304 of 600
building tree 305 of 600
building tree 306 of 600
building tree 307 of 600
building tree 308 of 600
building tree 309 of 600
building tree 310 of 600
building tree 311 of 600
building tree 312 of 600
building tree 313 of 600
building tree 314 of 600
building tree 315 of 600
building tree 316 of 600
building tree 317 of 600
building tree 318 of 600
building tree 319 of 600
building tree 320 of 600
building tree 321 of 600
building tree 322 of 600
building tree 323 of 600
building tree 324 of 600
building tree 325 of 600
building tree 326 of 600
building tree 327 of 600
building tree 328 of 600
building tree 329 of 600
building tree 330 of 600
building tree 331 of 600
building tree 332 of 600
building tree 333 of 600
building tree 334 of 600
building tree 335 of 600
building tree 336 of 600
building tree 337 of 600
building tree 338 of 600
building tree 339 of 600
building tree 340 of 600
building tree 341 of 600
building tree 342 of 600
building tree 343 of 600
building tree 344 of 600
building tree 345 of 600
building tree 346 of 600
building tree 347 of 600
building tree 348 of 600
building tree 349 of 600
building tree 350 of 600
building tree 351 of 600
building tree 352 of 600
building tree 353 of 600

[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed: 13.9min

building tree 354 of 600
building tree 355 of 600
building tree 356 of 600
building tree 357 of 600
building tree 358 of 600
building tree 359 of 600
building tree 360 of 600
building tree 361 of 600
building tree 362 of 600
building tree 363 of 600
building tree 364 of 600
building tree 365 of 600
building tree 366 of 600
building tree 367 of 600
building tree 368 of 600
building tree 369 of 600
building tree 370 of 600
building tree 371 of 600
building tree 372 of 600
building tree 373 of 600
building tree 374 of 600
building tree 375 of 600
building tree 376 of 600
building tree 377 of 600
building tree 378 of 600
building tree 379 of 600
building tree 380 of 600building tree 381 of 600

building tree 382 of 600
building tree 383 of 600
building tree 384 of 600
building tree 385 of 600
building tree 386 of 600
building tree 387 of 600
building tree 388 of 600
building tree 389 of 600
building tree 390 of 600
building tree 391 of 600
building tree 392 of 600
building tree 393 of 600building tree 394 of 600

building tree 395 of 600
building tree 396 of 600
building tree 397 of 600
building tree 398 of 600
building tree 399 of 600
building tree 400 of 600
building tree 401 of 600
building tree 402 of 600
building tree 403 of 600
building tree 404 of 600building tree 405 of 600

building tree 406 of 600
building tree 407 of 600
building tree 408 of 600
building tree 409 of 600
building tree 410 of 600
building tree 411 of 600
building tree 412 of 600
building tree 413 of 600
building tree 414 of 600
building tree 415 of 600
building tree 416 of 600
building tree 417 of 600
building tree 418 of 600
building tree 419 of 600
building tree 420 of 600
building tree 421 of 600
building tree 422 of 600
building tree 423 of 600
building tree 424 of 600
building tree 425 of 600
building tree 426 of 600
building tree 427 of 600
building tree 428 of 600
building tree 429 of 600
building tree 430 of 600
building tree 431 of 600
building tree 432 of 600
building tree 433 of 600
building tree 434 of 600
building tree 435 of 600
building tree 436 of 600
building tree 437 of 600
building tree 438 of 600
building tree 439 of 600
building tree 440 of 600
building tree 441 of 600
building tree 442 of 600
building tree 443 of 600
building tree 444 of 600
building tree 445 of 600
building tree 446 of 600
building tree 447 of 600
building tree 448 of 600
building tree 449 of 600
building tree 450 of 600
building tree 451 of 600
building tree 452 of 600
building tree 453 of 600
building tree 454 of 600
building tree 455 of 600
building tree 456 of 600
building tree 457 of 600
building tree 458 of 600
building tree 459 of 600
building tree 460 of 600
building tree 461 of 600
building tree 462 of 600
building tree 463 of 600
building tree 464 of 600
building tree 465 of 600building tree 466 of 600

building tree 467 of 600
building tree 468 of 600
building tree 469 of 600
building tree 470 of 600
building tree 471 of 600
building tree 472 of 600
building tree 473 of 600
building tree 474 of 600
building tree 475 of 600
building tree 476 of 600
building tree 477 of 600
building tree 478 of 600
building tree 479 of 600
building tree 480 of 600
building tree 481 of 600building tree 482 of 600

building tree 483 of 600
building tree 484 of 600
building tree 485 of 600
building tree 486 of 600
building tree 487 of 600
building tree 488 of 600
building tree 489 of 600
building tree 490 of 600
building tree 491 of 600
building tree 492 of 600
building tree 493 of 600
building tree 494 of 600
building tree 495 of 600
building tree 496 of 600
building tree 497 of 600
building tree 498 of 600
building tree 499 of 600
building tree 500 of 600
building tree 501 of 600
building tree 502 of 600
building tree 503 of 600
building tree 504 of 600
building tree 505 of 600
building tree 506 of 600
building tree 507 of 600
building tree 508 of 600
building tree 509 of 600
building tree 510 of 600
building tree 511 of 600building tree 512 of 600

building tree 513 of 600building tree 514 of 600

building tree 515 of 600
building tree 516 of 600
building tree 517 of 600
building tree 518 of 600
building tree 519 of 600
building tree 520 of 600
building tree 521 of 600
building tree 522 of 600
building tree 523 of 600
building tree 524 of 600
building tree 525 of 600
building tree 526 of 600
building tree 527 of 600
building tree 528 of 600
building tree 529 of 600
building tree 530 of 600
building tree 531 of 600
building tree 532 of 600
building tree 533 of 600
building tree 534 of 600
building tree 535 of 600
building tree 536 of 600
building tree 537 of 600
building tree 538 of 600
building tree 539 of 600
building tree 540 of 600
building tree 541 of 600building tree 542 of 600

building tree 543 of 600
building tree 544 of 600
building tree 545 of 600
building tree 546 of 600
building tree 547 of 600
building tree 548 of 600
building tree 549 of 600
building tree 550 of 600
building tree 551 of 600
building tree 552 of 600
building tree 553 of 600
building tree 554 of 600
building tree 555 of 600
building tree 556 of 600
building tree 557 of 600
building tree 558 of 600
building tree 559 of 600
building tree 560 of 600
building tree 561 of 600
building tree 562 of 600
building tree 563 of 600
building tree 564 of 600
building tree 565 of 600
building tree 566 of 600
building tree 567 of 600
building tree 568 of 600
building tree 569 of 600
building tree 570 of 600
building tree 571 of 600
building tree 572 of 600
building tree 573 of 600
building tree 574 of 600
building tree 575 of 600
building tree 576 of 600
building tree 577 of 600
building tree 578 of 600
building tree 579 of 600
building tree 580 of 600
building tree 581 of 600
building tree 582 of 600
building tree 583 of 600
building tree 584 of 600
building tree 585 of 600
building tree 586 of 600
building tree 587 of 600
building tree 588 of 600
building tree 589 of 600
building tree 590 of 600
building tree 591 of 600
building tree 592 of 600
building tree 593 of 600
building tree 594 of 600
building tree 595 of 600
building tree 596 of 600
building tree 597 of 600
building tree 598 of 600
building tree 599 of 600
building tree 600 of 600

[Parallel(n_jobs=-1)]: Done 600 out of 600 | elapsed: 23.4min finished

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=60, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=600, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=2, warm_start=False)

In [98]:
y_pred = regressor.predict(X_test)

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    0.3s
[Parallel(n_jobs=12)]: Done 138 tasks      | elapsed:    2.8s
[Parallel(n_jobs=12)]: Done 341 tasks      | elapsed:    8.4s
[Parallel(n_jobs=12)]: Done 600 out of 600 | elapsed:   16.1s finished

In [114]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9289065600849601

In [111]:
print(regressor.predict(X_test[100:120]))

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done 138 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done 341 tasks      | elapsed:    0.1s

[122166.64833333  38572.52666667 102541.28166667 118765.82666667
  65351.          72261.135       63950.60833333  37686.80166667
  55692.33166667  59172.5         59434.         134952.83166667
  59016.16666667  19887.875      123367.16        59091.64833333
  32689.19333333  57628.12        10865.83333333 134031.24      ]

[Parallel(n_jobs=12)]: Done 600 out of 600 | elapsed:    0.2s finished

In [112]:
print(y_test[100:120])

164517    125000
39234      35000
34108     120000
157039    120000
194108     65000
87363      80000
64218      65000
5980       40000
87792      55000
39841      63000
184923     65000
128908    135900
102136     62000
23164      19999
172652    106000
81910      63000
167925     33000
145595     50000
108796      8500
12819     129000
Name: price, dtype: int64

In [107]:
print(X_test.iloc[12])

passenger             5.0
year               2004.0
engine_size        1200.0
alarm                 1.0
ac                    1.0
                   ...
x7_installment        0.0
x8_electric           1.0
x8_windm              0.0
MF_kilometers     96381.0
MF_owners             2.0
Name: 51560, Length: 685, dtype: float64

In [205]:
def whats_Myage(xx):
    date1 = date(xx, 1, 1)
    date2 = today = date.today()
    return ((date2-date1).days)

#### To predict The price for Your vehicle , please follow the steps


`Remember more honest will give you more accurate results`

In [208]:
# print("please Fill The information Bellow:")
print("-----------------------------------")
li=[]
num_feature=[]
num_feature1=[]

make_name = input("Enter Car Make Name Here (Ex: skoda) ")
li.append(make_name)
model_name = input("Enter Car Model Name Here (Ex: octavia) ")
li.append(model_name)
li.append(input("Enter Car Type  Here (Ex: sedan) "))
li.append(input("Enter Car Color Here (Ex: white) "))
li.append(input("Enter Car fuel-Type Here (Ex: petrol/diesel) "))
li.append(input("Enter Car History Here (Ex: private/taxi) "))
li.append(input("Enter Car gear-type Here (Ex: automatic/manual) "))
li.append(input("Enter payment-methoud Here (Ex: cash/installment) "))
li.append(input("Enter window-methoud Here (Ex: electric/windm) "))

ert =[li]
print(ert)
cat_features = enc.transform(ert).toarray()

x1 = int(input("Enter number of passenger"))
num_feature.append(x1)
x2 = int(input("Enter year of produce"))
num_feature.append(x2)
x3 = int(input("Enter vehicle engine_size"))
num_feature.append(x3)
print("please input (1) if you have this feature , otherwise input (0)")
x4 = int(input("i have alarm in my vehicle"))
num_feature.append(x4)
x5 = int(input("i have AC in my vehicle"))
num_feature.append(x5)
x6 = int(input("i have radio_cd in my vehicle"))
num_feature.append(x6)
x7 = int(input("i have sunroof in my vehicle"))
num_feature.append(x7)
x8 = int(input("i have leather_chair in my vehicle"))
num_feature.append(x8)
x9 = int(input("i have central_lock in my vehicle"))
num_feature.append(x9)
x10 = int(input("i have magnesuim_wheels in my vehicle"))
num_feature.append(x10)
x11 = int(input("i have air_bag in my vehicle"))
num_feature.append(x11)
xcv = whats_Myage(x2)
print(xcv)
num_feature.append(xcv)

num_featurere = [num_feature]

print(num_featurere)

x12 = int(input("Enter Kilmeters that vehicel run"))
num_feature1.append(x12)
x13 = int(input("Enter prvious owners for this vehicle vehicel"))
num_feature1.append(x13)

num_feature1re = [num_feature1]
print(num_feature1re)

o1 = pd.DataFrame(cat_features)
o2 = pd.DataFrame(num_featurere)
# Kilometers owners
o3 = pd.DataFrame(num_feature1re)

Final_data = pd.concat([o2, o1, o3], axis=1)
pp_new1 = regressor.predict(Final_data)
                   
print("The price for", make_name , model_name , x2 , " is ----->",pp_new1.astype(int)[0])

-----------------------------------
Enter Car Make Name Here (Ex: skoda) skoda
Enter Car Model Name Here (Ex: octavia) rapid
Enter Car Type  Here (Ex: sedan) sedan
Enter Car Color Here (Ex: white) black
Enter Car fuel-Type Here (Ex: petrol/diesel) petrol
Enter Car History Here (Ex: private/taxi) private
Enter Car gear-type Here (Ex: automatic/manual) automatic
Enter payment-methoud Here (Ex: cash/installment) cash
Enter window-methoud Here (Ex: electric/windm) electric
[['skoda', 'rapid', 'sedan', 'black', 'petrol', 'private', 'automatic', 'cash', 'electric']]
Enter number of passenger5
Enter year of produce2016
Enter vehicle engine_size1200
please input (1) if you have this feature , otherwise input (0)
i have alarm in my vehicle0
i have AC in my vehicle1
i have radio_cd in my vehicle1
i have sunroof in my vehicle0
i have leather_chair in my vehicle0
i have central_lock in my vehicle1
i have magnesuim_wheels in my vehicle1
i have air_bag in my vehicle1
1966
[[5, 2016, 1200, 0, 1, 1, 0, 0, 1, 1, 1, 1966]]
Enter Kilmeters that vehicel run110000
Enter prvious owners for this vehicle vehicel1
[[110000, 1]]

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done 138 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done 341 tasks      | elapsed:    0.2s

The price for skoda rapid 2016  is -----> 65542

[Parallel(n_jobs=12)]: Done 600 out of 600 | elapsed:    0.3s finished

In [192]:
# make , model , type , color , fuel , history , gear , payment_methoud , window
new_data_Cat1=enc.transform([['hyundai','accent','sedan','white','petrol','private','automatic','cash','electric']]).toarray()

#pass , year , Engine_size , (alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,air_bag), DayeLives
new_data_numeric1 = [[5,2018,1400,1,1,1,0,1,1,1,1,1234]]

In [193]:
o1 = pd.DataFrame(new_data_Cat1)
o2 = pd.DataFrame(new_data_numeric1)
# Kilometers owners
o3 = pd.DataFrame([[50000,3]])

In [194]:
Final_data = pd.concat([o2, o1, o3], axis=1)

In [195]:
data

,passenger,year,engine_size,alarm,ac,radio_cd,sunroof,leatherـchair,centralـLock,magnesium_wheels,...,x5_school,x5_taxi,x6_automatic,x6_manual,x7_cash,x7_installment,x8_electric,x8_windm,MF_kilometers,MF_owners
0,5,1999,1600,1,1,0,1,0,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,115310,2
1,5,2001,1600,1,1,1,0,0,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,100000,2
2,5,2014,1500,1,1,1,0,1,1,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,45000,0
3,5,2008,1500,1,1,1,0,0,1,1,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,141763,2
4,5,1986,1600,1,0,1,1,1,1,1,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,133088,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200436,7,1996,110,0,1,1,0,1,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,252475,4
200437,5,2002,2200,0,1,1,0,1,1,1,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,189405,3
200438,7,1989,3000,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,113948,1
200439,3,1996,170,1,1,1,1,0,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,474638,4
200440,7,2008,2150,1,1,1,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,300000,1

In [196]:
Final_data

,0,1,2,3,4,5,6,7,8,9,...,663,664,665,666,667,668,669,670,0,1
0,5,2018,1400,1,1,1,0,1,1,1,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,50000,3

In [198]:
pp_new1 = regressor.predict(Final_data)

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done 138 tasks      | elapsed:    0.0s
[Parallel(n_jobs=12)]: Done 341 tasks      | elapsed:    0.1s
[Parallel(n_jobs=12)]: Done 600 out of 600 | elapsed:    0.1s finished

In [199]:
print("The preice for The Skoda octavia 2018 Car is ----->",pp_new1.astype(int)[0])

The preice for The Skoda octavia 2018 Car is -----> 64197

In [161]:
import joblib

In [162]:
file_name = "fainalized_model.sav"

In [163]:
joblib.dump(regressor,file_name)

['fainalized_model.sav']